/*https://bugs.chromium.org/p/chromium/issues/detail?id=776891*/
:root {
    color-scheme: dark;
}

a:active,
a:focus {
    background-color: transparent !important;
}

body {
    --mb-border-emphasised: 0.0625rem solid #333 !important;
}

footer {
    background-color: floralwhite !important;
}

hr {
    --mb-rule-colour: #333 !important;
}

header {
    --mb-masthead-border: 0.0625rem solid #595959 !important;
}